* {
    margin: 0;
    padding: 0;

}

.ls-closed .bars:before,
.navbar .navbar-brand,
.navbar .material-icons {
    color: white !important;
}

.user-helper-dropdown {
    box-shadow: unset;
    margin-top: 2.3rem;
    font-size: 16px;
    color: white;
}

.user-helper-dropdown img {
    margin-right: 10px;
}

.user-helper-dropdown b {
    margin-left: 10px;
}

.add-project {
    background-color: #3F51B5 !important;
    color: white;
    min-width: 170px;
    height: 50px;
    width: 100%;
    border-radius: 5px !important;
}

.add-project:hover,
.add-project:focus {
    color: white !important;
}

.table {
    height: auto;
}

.table h4 {
    line-height: 50px;
    padding-left: 2rem;
    height: 50px;
    background-color: #D3D3D3;
    border-radius: 5px;
}

.line {
    border-bottom: 1px solid #eee;
    height: 43px;
    line-height: 43px;
}

.line .dropdown {
    position: absolute;
    right: 3rem;
    display: inline;
    color: black;

}

.line .dropdown .dropdown-item {
    display: block;
    text-align: left;
    padding: 0 0 0 1rem;
    color: black;
}

.line .dropdown .dropdown-item:hover {
    background-color: #D3D3D3;
    text-decoration: none;

}

.table .bootstrap-select .btn-default {
    height: 4rem;
    border: 1px solid #ddd;
    border-bottom: unset;
}

.table .fr-col {
    padding-top: 2rem;
}

.table .btn-primary {
    margin-left: 5rem;

}

/* Input like gg */
.field-wrapper {
    position: relative;
    width: 220px;

}

.field-wrapper input {
    border: 1px solid #DADCE0;
    padding: 15px;
    border-radius: 4px;
    width: 100%;
}

.field-wrapper .field-placeholder {
    font-size: 14px;
    position: absolute;
    /* background: #fff; */
    bottom: 17px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #80868b;
    left: 8px;
    padding: 0 8px;
    -webkit-transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;

    text-align: left;
    width: 100%;
}

.field-wrapper .field-placeholder span {
    background: #ffffff;
    padding: 0px 8px;
}

.field-wrapper input:not([disabled]):focus~.field-placeholder {
    color: #1A73E8;
}

.field-wrapper input:not([disabled]):focus~.field-placeholder,
.field-wrapper.hasValue input:not([disabled])~.field-placeholder {
    -webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
    transform: scale(.75) translateY(-39px) translateX(-60px);

}


.ds-to{
    margin: 0 2rem 0 2rem;
}
.modal-dialog{
    width: 80% !important;
}
@media only screen and (max-width : 700px){
    .modal-dialog{
        width: 95% !important;
    }
}
tr textarea{
    resize: none ;
}
td .input-group{
    border: 1px solid #ddd !important ;
    border-radius: 5px ;
}
textarea::placeholder{
    padding: 1rem;
}

tr td.row button{
    background-color: white ; 
    color: black ; 

}
tr td.row button:focus{
    background: #f36c00 ;
    color: white;
    border-color: #f36c00 ; 
}
tr td.row button.btn-active{
    background: #f36c00 !important;
    color: white;
    border-color: #f36c00 !important; 
}
#menu1,#menu2{
    width: 100% !important;
}
.bootstrap-select{
    height: 50px !important;
}
/*  */
