﻿.theme-red .navbar {
  background-color: #F44336;
}
.theme-purple .navbar {
  background-color: #F44336;
}
.theme-red .sidebar .legal .copyright a {
  color: #F44336 !important;
}

.theme-pink .navbar {
  background-color: #E91E63;
}

.theme-pink .nav>li>a:hover {
  background-color: transparent;
}

.theme-pink .nav>li>a:focus {
  background-color: transparent;
}

.theme-pink .nav .open>a {
  background-color: transparent;
}

.theme-pink .nav .open>a:hover {
  background-color: transparent;
}

.theme-pink .nav .open>a:focus {
  background-color: transparent;
}


.theme-pink .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-pink .sidebar .menu .list li.active> :first-child i,
.theme-pink .sidebar .menu .list li.active> :first-child span {
  color: #E91E63;
}

.theme-pink .sidebar .menu .list .toggled {
  background-color: transparent;
}

.theme-pink .sidebar .menu .list .ml-menu {
  background-color: transparent;
}

.theme-pink .sidebar .legal .copyright a {
  color: #E91E63 !important;
}

.theme-blue .navbar {
  background-color: #2196F3;
}

.theme-blue .nav>li>a:hover {
  background-color: transparent;
}

.theme-blue .nav>li>a:focus {
  background-color: transparent;
}

.theme-blue .nav .open>a {
  background-color: transparent;
}

.theme-blue .nav .open>a:hover {
  background-color: transparent;
}

.theme-blue .nav .open>a:focus {
  background-color: transparent;
}



.theme-blue .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-blue .sidebar .menu .list li.active> :first-child i,
.theme-blue .sidebar .menu .list li.active> :first-child span {
  color: #2196F3;
}

.theme-blue .sidebar .menu .list .toggled {
  background-color: transparent;
}

.theme-blue .sidebar .menu .list .ml-menu {
  background-color: transparent;
}

.theme-blue .sidebar .legal .copyright a {
  color: #2196F3 !important;
}

.theme-green .navbar {
  background-color: #4CAF50;
}

.theme-green .nav>li>a {
  color: #fff;
}

.theme-green .nav>li>a:hover {
  background-color: transparent;
}

.theme-green .nav>li>a:focus {
  background-color: transparent;
}

.theme-green .nav .open>a {
  background-color: transparent;
}

.theme-green .nav .open>a:hover {
  background-color: transparent;
}

.theme-green .nav .open>a:focus {
  background-color: transparent;
}

.theme-green .bars {
  color: #fff;
}

.theme-green .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-green .sidebar .menu .list li.active> :first-child i,
.theme-green .sidebar .menu .list li.active> :first-child span {
  color: #4CAF50;
}

.theme-green .sidebar .menu .list .toggled {
  background-color: transparent;
}

.theme-green .sidebar .menu .list .ml-menu {
  background-color: transparent;
}

.theme-green .sidebar .legal {
  background-color: #fff;
}

.theme-green .sidebar .legal .copyright a {
  color: #4CAF50 !important;
}

.theme-light-green .navbar {
  background-color: #8BC34A;
}

.theme-light-green .navbar-brand {
  color: #fff;
}

.theme-light-green .navbar-brand:hover {
  color: #fff;
}

.theme-light-green .navbar-brand:active {
  color: #fff;
}

.theme-light-green .navbar-brand:focus {
  color: #fff;
}

.theme-light-green .nav>li>a {
  color: #fff;
}

.theme-light-green .nav>li>a:hover {
  background-color: transparent;
}

.theme-light-green .nav>li>a:focus {
  background-color: transparent;
}

.theme-light-green .nav .open>a {
  background-color: transparent;
}

.theme-light-green .nav .open>a:hover {
  background-color: transparent;
}

.theme-light-green .nav .open>a:focus {
  background-color: transparent;
}

.theme-light-green .bars {
  color: #fff;
}

.theme-light-green .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-light-green .sidebar .menu .list li.active> :first-child i,
.theme-light-green .sidebar .menu .list li.active> :first-child span {
  color: #8BC34A;
}

.theme-light-green .sidebar .menu .list .toggled {
  background-color: transparent;
}

.theme-light-green .sidebar .menu .list .ml-menu {
  background-color: transparent;
}

.theme-light-green .sidebar .legal {
  background-color: #fff;
}

.theme-light-green .sidebar .legal .copyright a {
  color: #8BC34A !important;
}
